@using Manager
@{
    Layout = null;
}


<aside class="col-sm-3 hidden-xs content-aside col-md-3" id="column-right">
    <h2 class="subtitle">Account</h2>
    <div class="list-group">
        <ul class="list-item">
            <li itemprop="url">
                <a href="~/Users/WelcomePage">Dashboard</a>
            </li>
            <li itemprop="url">
                <a href="~/Users/OrderHistory">My Orders</a>
            </li>
            <li itemprop="url">
                <a href="~/Users/Account">My Account</a>
            </li>
            <li itemprop="url">
                <a href="~/Users/ChangePassword">Change Password</a>
            </li>
            <li itemprop="url">
                <a href="~/Accounts/Logout">Logout</a>
            </li>
            
        </ul>
    </div>
</aside>


