@using Manager
@using System.Configuration
@{
    string pagetitle = "Change Password";
    string domainname = ConfigurationManager.AppSettings["DomainUrl"];
}
@section metataqs{

    <title>@pagetitle | @domainname </title>
}
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="~/"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Change Password</a></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-9" id="content">
            <h2 class="title">Change Password</h2>
            <p class="lead">Hello, <strong itemprop="name">@Session[SessionKeys.Name]</strong> - To update your account information.</p>
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Change Password</legend>
                            <div class="form-group required">
                                <label for="input-password" class="control-label">Old Password</label>
                                <input itemprop="password" type="password" class="form-control" placeholder="Old Password" value="" name="oldPassword">
                            </div>
                            <div class="form-group required">
                                <label for="input-password" class="control-label">New Password</label>
                                <input itemprop="password" type="password" class="form-control" placeholder="New Password" value="" name="newPassword">
                            </div>
                            <div class="form-group required">
                                <label for="input-confirm" class="control-label">New Password Confirm</label>
                                <input itemprop="password" type="password" class="form-control" id="input-confirm" placeholder="New Password Confirm" value="" name="newPasswordConfirm">
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="buttons clearfix">
                    <div class="pull-right">
                        <input type="submit" id="passwordBtn" class="btn btn-md btn-primary" value="Save Changes">
                    </div>
                </div>
            }


        </div>
        <!--Middle Part End-->
        <!--Right Part Start -->
        @Html.Partial("_AsideMenu")
        <!--Right Part End -->
    </div>
</div>


<script>
    $("#NewPasswordConfirm").bind("keyup change", function (e) {
        var newPass = $("#newPassword").val();
        var newConfirm = $(this).val();
        if (newConfirm == newPass) {
            $('#passwordBtn').prop('disabled', false);
        } else {
            $('#passwordBtn').prop('disabled', true);
        }
    })
</script>